*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Plus Jakarta Sans', sans-serif; 

  --primary-blue:#49CCF9;
  --primary-green: #05CD99;
  --primary-violet: #7B68EE;

  opacity: 0;
  transition: .3s font-size;

  animation: root-animation .5s ease forwards;
  animation-delay: .1s;
}

@keyframes root-animation {
    to {
      opacity: 1;
    }
}